* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #839788;
}

body, main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main {
    margin: 20px;
}

.tituloCalculadora{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #d1cab8;
}

.div-botones {
    margin: 20px;
    padding: 5px;
}

.boton {
    border-radius: 20px;
    border: 1.5px solid #0e141c;
    padding: 15px;
    margin: auto 10px;
    cursor: pointer;
    background-color: #E5D1D0;
    color: black;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor-img, .contenedorPorcentajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto 0;
}

.contenedor-img h1, p {
    text-align: center;
}

.contenedorPorcentajes h1, p {
    text-align: center;
}

.divdecuadradoinput, .divdetrianguloinput, .divdecirculoinput, .divdeporcentajesinput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divdetrianguloinput, .divdecirculoinput, .divdeporcentajesinput{
    align-items: center;
    flex-direction: column;
}

.divdetrianguloinput input, .buttonTriangulo{
    width: auto;
    margin: 10px auto;
}

.divdecirculoinput input, .buttonCirculo{
    width: auto;
    margin: 10px auto;
}

.divdeporcentajesinput input, .buttonPorcentajes{
    width: auto;
    margin: 10px auto;
}

.img {
    width: 20%;
    margin: 20px;
}

.contenedorCuadrado, .contenedorTriangulo, .contenedorCirculo {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.contenedorCuadrado h1, .contenedorTriangulo h1, .contenedorCirculo h1, .contenedorPorcentajes h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E5D1D0;
}

.contenedorCuadrado label, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

.contenedorTriangulo label, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

.contenedorCirculo label, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

.contenedorPorcentajes label, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

.cuadrado, .circulo, .triangulo {
    cursor: pointer;
}

.contenedor-img p, label, input {
    margin: 10px;
}

.contenedor-img input{
    text-align: center;
    padding: 1px;
    border-radius: 10px;
}

.contenedorPorcentajes input{
    text-align: center;
    padding: 1px;
    border-radius: 10px;
}

.buttonCuadrado, .buttonTriangulo, .buttonCirculo, .buttonEstadistica, .buttonPorcentajes, .botonParaCalcularStats {
    border-radius: 20px;
    border: 1.5px solid #0e141c;
    margin: auto 10px;
    padding: 1px;
    cursor: pointer;
    background-color: #E5D1D0;
    color: black;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttonTriangulo{
    width: 20%;
}

.contenedor-estadistica{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto 0;
    text-align: center;
}

.contenedor-estadistica h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E5D1D0;
}

.div-input-estadistica{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

.div-input-estadistica input{
    text-align: center;
}

.divdeinput{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    flex-direction: row;
}
.divdeinput p{
    padding: 20px;
}

.botonParaCalcularStats{
    margin: 10px 100%;
}

.contenedorPorcentajes{
    flex-direction: column;
}

@media (max-width: 400px){
    .div-botones button{
        font-size: 13px;
    }
    .contenedor-img {
        width: 100%;
    }
}

@media (max-width: 1100px){
    .div-botones button{
        padding: 10px;
        font-size: 12px;
    }
    .contenedor-img {
        width: 100%;
    }
}